.minor {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.idea-1 {
  height: 400px;
  opacity: .3;
}

.idea-1:hover {
  opacity: 1.0;
}

.idea-2 {
  height: 400px;
  opacity: .3;
}

.idea-2:hover {
  opacity: 1.0;
}

.idea-3 {
  height: 400px;
  opacity: .3;
}

.idea-3:hover {
  opacity: 1.0;
}
.idea-4 {
  height: 400px;
  opacity: .3;
}

.idea-4:hover {
  opacity: 1.0;
}