

.inner-form {
  grid-column: 1/2;
  background-color: rgba(97,83,204);
  height: 410px;
  width: 65vw;
}


label {
  font-size: 30px;
  font-family: 'Audiowide', cursive;
  margin-left: 10px;
  text-shadow: 1px 1px 1px #0AFFC2;
}

.name-email {
  display: inline;
  margin-top: 20px;
  margin-left: 10px;
}



.field {
  margin-top: 10px;
  margin-left: 10px;
}

#message {
  background-color: rgba(97,83,204);
  width: 45vw;
  border: 1px solid #0AFFC2;
}


ul {
  list-style-type: none;
  text-align: center;
}

li {
  display: inline;
}

.input-field {
  background-color: rgba(97,83,204);
  border: 1px solid #0Affc2;
  height: 35px;
  width: 25vw;
  caret-color: #0Affc2;
  margin-left: 10px;
}

textarea {
  caret-color: #0AFFC2;
}


