section {
  background-color: #0affc2;
  height: 400px;
}

.landing-heading {
  display: flex;
  justify-content: center;
  align-self: center;
}

.banner-heading {
  display: inline-block;
  text-align: center;
  margin-top: 100px;
}

.ambition {
  text-align: center;
  font-family: 'Monoton', cursive;
  font-size: 70px;
}

.content {
  font-size: large;
}

.get-started-btn {
  display: flex;
  justify-content: center;
  align-self: center;
  margin-top: 30px;
}

#get-started {
  font-size: 20px;
  height: 60px;
  width: 200px;
}
